.App {
  max-width: 980px;
  margin: 0 auto;
}

.navbar {
  padding: 10px 50px;
}
.hero {
  text-align: center;
  margin: 50px;
}

.hero-h1,
.hero-h2 {
  text-align: center;
  color: red;
}

ul li {
  list-style-type: none;
}

.footer {
  display: flex;
  flex: 0;
  justify-content: space-between;
  padding: 10pt 50px;
  background-color: #f8f9fac2;
}
